<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>F</key>
    <dict>
      <key>a</key>
      <real>-24.414</real>
      <key>e</key>
      <real>-15.024</real>
      <key>o</key>
      <real>-27.231001</real>
    </dict>
    <key>K</key>
    <dict>
      <key>v</key>
      <real>-7.512</real>
      <key>w</key>
      <real>-7.512</real>
    </dict>
    <key>L</key>
    <dict>
      <key>V</key>
      <real>-3.756</real>
      <key>Y</key>
      <real>-26.292</real>
    </dict>
    <key>P</key>
    <dict>
      <key>a</key>
      <real>-24.414</real>
    </dict>
    <key>T</key>
    <dict>
      <key>a</key>
      <real>-37.560001</real>
      <key>e</key>
      <real>-43.194</real>
      <key>i</key>
      <real>-7.512</real>
      <key>o</key>
      <real>-52.584</real>
      <key>r</key>
      <real>-39.438</real>
      <key>s</key>
      <real>-52.584</real>
      <key>u</key>
      <real>-15.024</real>
      <key>y</key>
      <real>-15.024</real>
    </dict>
    <key>V</key>
    <dict>
      <key>a</key>
      <real>-15.024</real>
    </dict>
    <key>W</key>
    <dict>
      <key>a</key>
      <real>-15.024</real>
    </dict>
    <key>public.kern1.7</key>
    <dict>
      <key>public.kern2.0</key>
      <real>-13.146</real>
      <key>public.kern2.1</key>
      <real>23.475</real>
      <key>public.kern2.4</key>
      <real>-11.268</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.C</key>
      <real>-7.512</real>
      <key>public.kern2.E</key>
      <real>-7.512</real>
      <key>public.kern2.T</key>
      <real>-11.268</real>
      <key>public.kern2.n</key>
      <real>-11.268</real>
      <key>public.kern2.quoteright</key>
      <real>-35.681999</real>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.period</key>
      <real>-18.780001</real>
      <key>public.kern2.quoteright</key>
      <real>-16.902</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.C</key>
      <real>-13.146</real>
      <key>public.kern2.E</key>
      <real>-10.329</real>
      <key>public.kern2.O</key>
      <real>-7.512</real>
      <key>public.kern2.h</key>
      <real>11.268</real>
      <key>public.kern2.quoteright</key>
      <real>18.780001</real>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.C</key>
      <real>-11.268</real>
      <key>public.kern2.O</key>
      <real>-16.902</real>
      <key>public.kern2.h</key>
      <real>11.268</real>
      <key>public.kern2.idieresis</key>
      <real>45.071999</real>
      <key>public.kern2.n</key>
      <real>-14.085</real>
      <key>public.kern2.quoteright</key>
      <real>18.780001</real>
      <key>public.kern2.z</key>
      <real>11.268</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.E</key>
      <real>-7.512</real>
      <key>public.kern2.J</key>
      <real>-14.085</real>
      <key>public.kern2.h</key>
      <real>11.268</real>
      <key>public.kern2.idieresis</key>
      <real>45.071999</real>
      <key>public.kern2.n</key>
      <real>-18.780001</real>
      <key>public.kern2.period</key>
      <real>-79.815002</real>
      <key>public.kern2.quoteright</key>
      <real>18.780001</real>
      <key>public.kern2.s</key>
      <real>-30.987</real>
      <key>public.kern2.u</key>
      <real>-22.535999</real>
      <key>public.kern2.z</key>
      <real>-20.658001</real>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-35.681999</real>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.E</key>
      <real>-5.634</real>
      <key>public.kern2.n</key>
      <real>-11.268</real>
      <key>public.kern2.quoteright</key>
      <real>-32.865002</real>
    </dict>
    <key>public.kern1.I</key>
    <dict>
      <key>public.kern2.C</key>
      <real>-9.39</real>
      <key>public.kern2.period</key>
      <real>-35.681999</real>
      <key>public.kern2.quoteright</key>
      <real>-18.780001</real>
    </dict>
    <key>public.kern1.Idieresis</key>
    <dict>
      <key>public.kern2.Idieresis</key>
      <real>50.706001</real>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.E</key>
      <real>-11.268</real>
      <key>public.kern2.Z</key>
      <real>-16.902</real>
      <key>public.kern2.quoteright</key>
      <real>-18.780001</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-11.268</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.B</key>
      <real>-16.902</real>
      <key>public.kern2.H</key>
      <real>-16.902</real>
      <key>public.kern2.O</key>
      <real>-4.695</real>
      <key>public.kern2.T</key>
      <real>-32.865002</real>
      <key>public.kern2.quoteright</key>
      <real>-60.096001</real>
    </dict>
    <key>public.kern1.Lcaron</key>
    <dict>
      <key>public.kern2.A</key>
      <real>60.096001</real>
      <key>public.kern2.B</key>
      <real>16.902</real>
      <key>public.kern2.H</key>
      <real>60.096001</real>
      <key>public.kern2.J</key>
      <real>14.085</real>
      <key>public.kern2.O</key>
      <real>-4.695</real>
      <key>public.kern2.T</key>
      <real>69.486</real>
      <key>public.kern2.U</key>
      <real>32.865002</real>
      <key>public.kern2.X</key>
      <real>46.950001</real>
      <key>public.kern2.Y</key>
      <real>46.950001</real>
      <key>public.kern2.Z</key>
      <real>22.535999</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.B</key>
      <real>-5.634</real>
      <key>public.kern2.Z</key>
      <real>-20.658001</real>
      <key>public.kern2.period</key>
      <real>-37.560001</real>
      <key>public.kern2.quoteright</key>
      <real>-13.146</real>
      <key>public.kern2.z</key>
      <real>-18.780001</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-5.634</real>
      <key>public.kern2.s</key>
      <real>-5.634</real>
    </dict>
    <key>public.kern1.Q</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-16.902</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-9.39</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.n</key>
      <real>-13.146</real>
      <key>public.kern2.period</key>
      <real>-18.780001</real>
      <key>public.kern2.quoteright</key>
      <real>-32.865002</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.n</key>
      <real>-43.194</real>
      <key>public.kern2.period</key>
      <real>-89.205002</real>
      <key>public.kern2.x</key>
      <real>-18.780001</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-35.681999</real>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-11.268</real>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-25.353001</real>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-13.146</real>
      <key>public.kern2.n</key>
      <real>-5.634</real>
      <key>public.kern2.quoteright</key>
      <real>-63.852001</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.o</key>
      <real>-5.634</real>
      <key>public.kern2.quoteright</key>
      <real>13.146</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-3.756</real>
      <key>public.kern2.h</key>
      <real>-11.268</real>
      <key>public.kern2.o</key>
      <real>-5.634</real>
      <key>public.kern2.period</key>
      <real>-32.865002</real>
      <key>public.kern2.quoteright</key>
      <real>-33.804001</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.o</key>
      <real>-32.865002</real>
      <key>public.kern2.period</key>
      <real>-60.096001</real>
      <key>public.kern2.quoteright</key>
      <real>3.756</real>
      <key>public.kern2.t</key>
      <real>-7.512</real>
      <key>public.kern2.u</key>
      <real>-14.085</real>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-11.268</real>
      <key>public.kern2.quoteright</key>
      <real>-35.681999</real>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-4.695</real>
      <key>public.kern2.x</key>
      <real>15.024</real>
    </dict>
    <key>public.kern1.idieresis</key>
    <dict>
      <key>public.kern2.h</key>
      <real>30.048</real>
      <key>public.kern2.idieresis</key>
      <real>42.255001</real>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.o</key>
      <real>-3.756</real>
      <key>public.kern2.quoteright</key>
      <real>-4.695</real>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-8.451</real>
      <key>public.kern2.quoteright</key>
      <real>-61.973999</real>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.i</key>
      <real>-3.756</real>
      <key>public.kern2.j</key>
      <real>-3.756</real>
      <key>public.kern2.n</key>
      <real>-7.512</real>
      <key>public.kern2.quoteright</key>
      <real>-45.071999</real>
      <key>public.kern2.u</key>
      <real>-4.695</real>
    </dict>
    <key>public.kern1.lcaron</key>
    <dict>
      <key>public.kern2.h</key>
      <real>136.154999</real>
      <key>public.kern2.i</key>
      <real>67.608002</real>
      <key>public.kern2.j</key>
      <real>67.608002</real>
      <key>public.kern2.t</key>
      <real>51.645</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.colon</key>
      <real>-12.207</real>
      <key>public.kern2.period</key>
      <real>-16.902</real>
      <key>public.kern2.quoteright</key>
      <real>-60.096001</real>
      <key>quoteright</key>
      <real>-61.973999</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.period</key>
      <real>-35.681999</real>
      <key>public.kern2.quoteright</key>
      <real>-63.852001</real>
    </dict>
    <key>public.kern1.p</key>
    <dict>
      <key>public.kern2.period</key>
      <real>-15.024</real>
      <key>public.kern2.quoteright</key>
      <real>-42.255001</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-16.902</real>
      <key>public.kern2.B</key>
      <real>-26.292</real>
      <key>public.kern2.C</key>
      <real>-61.973999</real>
      <key>public.kern2.E</key>
      <real>-52.584</real>
      <key>public.kern2.H</key>
      <real>-15.024</real>
      <key>public.kern2.J</key>
      <real>-61.035</real>
      <key>public.kern2.O</key>
      <real>-45.071999</real>
      <key>public.kern2.S</key>
      <real>-70.425003</real>
      <key>public.kern2.U</key>
      <real>-40.376999</real>
      <key>public.kern2.X</key>
      <real>-23.475</real>
      <key>public.kern2.Y</key>
      <real>-28.17</real>
      <key>public.kern2.Z</key>
      <real>-50.706001</real>
      <key>public.kern2.a</key>
      <real>-54.462002</real>
      <key>public.kern2.h</key>
      <real>-3.756</real>
      <key>public.kern2.i</key>
      <real>-18.780001</real>
      <key>public.kern2.j</key>
      <real>-18.780001</real>
      <key>public.kern2.n</key>
      <real>-58.217999</real>
      <key>public.kern2.o</key>
      <real>-80.753998</real>
      <key>public.kern2.s</key>
      <real>-84.510002</real>
      <key>public.kern2.t</key>
      <real>-15.024</real>
      <key>public.kern2.u</key>
      <real>-45.071999</real>
      <key>public.kern2.x</key>
      <real>-37.560001</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-9.39</real>
      <key>public.kern2.c</key>
      <real>-7.512</real>
      <key>public.kern2.h</key>
      <real>-3.756</real>
      <key>public.kern2.o</key>
      <real>-11.268</real>
      <key>public.kern2.period</key>
      <real>-60.096001</real>
      <key>quoteright</key>
      <real>5.634</real>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <real>-33.804001</real>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-5.634</real>
      <key>public.kern2.colon</key>
      <real>-14.085</real>
      <key>public.kern2.o</key>
      <real>-6.573</real>
      <key>public.kern2.period</key>
      <real>-31.926001</real>
      <key>public.kern2.quoteright</key>
      <real>-1.878</real>
      <key>public.kern2.z</key>
      <real>-3.756</real>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-11.268</real>
      <key>public.kern2.quoteright</key>
      <real>-39.438</real>
      <key>public.kern2.t</key>
      <real>-4.695</real>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-9.39</real>
      <key>public.kern2.o</key>
      <real>-7.512</real>
      <key>public.kern2.quoteright</key>
      <real>-7.512</real>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-7.512</real>
      <key>public.kern2.quoteright</key>
      <real>-13.146</real>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-11.268</real>
      <key>public.kern2.quoteright</key>
      <real>-16.902</real>
    </dict>
    <key>seven</key>
    <dict>
      <key>public.kern2.8</key>
      <real>-18.780001</real>
    </dict>
  </dict>
</plist>
